*
!.gitignore
!README.md

#bash settings
!.bash_profile
!.bashrc
!.tmux.conf
!*structure*

#customizations
!.arrowhead-blue
!.arrowhead-blue
!.arrowhead-blue/aliases
!.arrowhead-blue/aliases/*
!.arrowhead-blue/functions
!.arrowhead-blue/functions/*
!.arrowhead-blue/w5h
!.arrowhead-blue/w5h/*
